auto-install-peers=false
strict-peer-dependencies=false
public-hoist-pattern[]=postcss
public-hoist-pattern[]=vite
public-hoist-pattern[]=@vitejs/*
public-hoist-pattern[]=@tailwindcss/*
public-hoist-pattern[]=tailwindcss
resolution-mode=highest
